.TodoItem {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px dotted #bbb;
  padding: 0 10px 10px;
  overflow: hidden;
  font-size: 1.4rem;
  cursor: pointer;
}

.TodoItem:hover .check,
.TodoItem:hover .remove {
  opacity: 0.5;
}

.TodoItem:last-child {
  margin-bottom: 0;
}

.TodoItem.active {
  text-decoration: line-through;
  color: #dda0dd;
}

.TodoItem.active .check {
  opacity: 0.8;
}

.TodoItem .check {
  opacity: 0;
}

.TodoItem .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TodoItem .remove {
  margin: 3px 0 0 10px;
  font-size: 1.2rem;
}

.increase,
.decrease {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.decrease {
  margin-left: 10px;
}
